/* *{
    box-sizing: border-box;
}

body{
    background-color:  #5cc3ff;
    align-items: center;
    /* display: flex; */
    /* justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding-left: 250px;
    padding-top: 200px;
}

ul{
    list-style: none; */
    font-size: 1em;
}

#butn{
   /* padding-left: 200px; */
   /* color: bisque;
background-color: black;
}
h2{
    font-size:3em; */
} */