body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding-left: 50px;
    padding-bottom: 20px;
}


ul{
    list-style: none;
}


#num{
    font-size:14px ;
    color: skyblue;
    background-color: #f3333c;
    border-radius: 5px;
    box-shadow: blueviolet;

}

h2{
    font-size: 30px;
}  
